<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="ConnectionStringDelivery" connectionString="workstation id=Delivery.mssql.somee.com;packet size=4096;user id=fvargas10_SQLLogin_1;pwd=3qwkoa66e9;data source=Delivery.mssql.somee.com;persist security info=False;initial catalog=Delivery"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- El proveedor ADO.NET  -->
    <add key="PROVEEDOR" value="System.Data.SqlClient" />
    <!-- La cadena de conexion -->
    <add key="CADENA" value="Data Source=workstation id=Delivery.mssql.somee.com;packet size=4096;user id=fvargas10_SQLLogin_1;pwd=3qwkoa66e9;data source=Delivery.mssql.somee.com;persist security info=False;initial catalog=Delivery" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
